<template>
  <h1 class="text-dark mb-3">
    <span class="text-3xl font-bold">
      {{ title }}
    </span>
    <fa
      class="ml-1 cursor-pointer"
      :icon="['fas', 'home']"
      @click="$router.push('/')"
    />
  </h1>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>
