.el-default-input {
  border-radius: 10px;
  overflow: hidden;
  .el-input__inner {
      height: 40px;
      background: white;
      border-radius: 10px;
      border: none;
      color: var(--color-dark);
  }
  .el-input__prefix {
    display: flex;
    align-items: center;
    color: var(--color-gray-300);
  }
  .el-textarea__inner {
      background: white;
      border-radius: 10px;
      border: none;
      color: var(--color-dark);
  }
}