@import '~/assets/scss/base/all.scss';
@import '~/assets/scss/element/all.scss';
@import '~/assets/scss/tailwindcss/all.scss';
// Your global custom style

*{
  font-family: 'Google Sans';
  ::selection {
    background: var(--color-success);
    color: #ffffff;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-300);
    transition-duration: 0.5s;
    border-radius: 4px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray-400);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }
