<template>
  <el-main class="p-8 user-index-page">
    <Breadcrumb :title="$t('users.title')" />
    <UserFilterBar
      @my-user-filter="onFilter"
      @my-user-filter-refresh="onRefresh"
    />
    <DataTable
      v-loading="$fetchState.pending"
      :data="data"
      :total="dataTotal"
      :limit="dataQuery.limit"
      :current-page="dataQuery.offset / dataQuery.limit + 1"
      :multiple-choice="false"
      :actions="tableActions"
      @my-table-on-action="handleTableEvents"
      @my-table-edit="onEdit"
      @my-table-delete="onDelete"
      @my-table-add-new="$router.push(`/${roleGroup}/users/create`)"
    >
      <el-table-column fixed="left" type="index" width="50" />
      <!-- eslint-disable prettier/prettier -->
      <!-- Just disable prettier/prettier here for shorter code -->
      <el-table-column width="300" fixed="left" :label="$t('users.index.fullName')" prop="fullName" />
      <el-table-column :label="$t('users.index.email')" prop="email">
        <template slot-scope="scope">
          <span v-clip.pointer="'Click to copy email'" class="text-lg text-theme-1">
            {{ scope.row.email }}
          </span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('users.index.createdAt')" prop="createdAt">
        <template v-slot:header>
          <p class=" text-left">
            {{ $t('users.index.createdAt') }}
          </p>
        </template>
        <template slot-scope="scope">
          <div class="text-left">
            <p>
              {{ scope.row.createdAt | formatDate($store.state.locale) }}
            </p>
            <p class="text-xs text-gray-400">
              <b>
                {{ $t('users.index.updatedAt') }}
              </b>
              {{ scope.row.updatedAt | formatDate($store.state.locale) }}
            </p>
          </div>
        </template>
      </el-table-column>
      <!-- eslint-enable prettier/prettier -->
    </DataTable>
  </el-main>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import qs from 'qs'
import { config } from './config'
import { DataTable } from '~templates/Table'
import { Breadcrumb } from '~templates/Breadcrumb'
import { UserFilterBar } from '~/components/uncommon/User'
import { userMutations as moduleMutations } from '~/store/user/mutations'
import { userActions as moduleActions } from '~/store/user/actions'
import { userGetters as moduleGetters } from '~/store/user/getters'
import dataTableMixin from '~/mixins/components/table'
export default {
  name: 'Home',
  meta: {
    config,
  },
  middleware: [
    'auth',
    ({ store, query }) => {
      if (qs.stringify(query) !== '') {
        // Looking for numeric string and convert them to Number
        Object.keys(query).forEach((key, index) => {
          if (!isNaN(query[key])) {
            query[key] = Number(query[key])
          }
        })
        store.commit(moduleMutations.SET.QUERY, query)
      }
    },
  ],
  components: {
    DataTable,
    Breadcrumb,
    UserFilterBar,
  },
  mixins: [dataTableMixin],
  data() {
    return {
      moduleMutations,
      moduleActions,
      moduleGetters,
      fileList: [],
      tableActions: [
        {
          name: 'edit',
          label: 'table.edit',
          permission: ['ALL'],
        },
        {
          name: 'delete',
          label: 'table.delete',
          permission: ['ALL'],
        },
      ],
    }
  },
  computed: {
    ...mapState({
      data: (state) => state.user.data,
      dataQuery: (state) => state.user.query,
      dataTotal: (state) => state.user.total,
    }),
  },
  methods: {
    ...mapActions({
      deleteSingle: moduleActions.DELETE.SINGLE,
    }),
    onEdit(payload) {
      this.$router.push(
        `/${this.$store.getters['auth/roleGroup']}/users/edit/${payload.rowData.id}`
      )
    },
    onDelete(payload) {
      try {
        this.confirmAction(async () => {
          await this.deleteSingle(payload.rowData.id)
          this.$fetch()
        })
      } catch (error) {
        //
      }
    },
  },
  head() {
    return {
      title: this.$t('users.title'),
    }
  },
}
</script>
