<template>
  <nav class="navbar bg-white flex justify-between px-6" style="height: 60px">
    <div class="flex items-center">
      <fa
        :icon="['fas', 'bars']"
        class="text-gray-200 text-3xl cursor-pointer"
        @click="TOGGLE_SIDEBAR_COLLAPSE()"
      />
    </div>
    <div class="flex">
      <div class="flex items-center mx-6">
        <el-badge :is-dot="hasNotifications">
          <fa :icon="['fas', 'bell']" class="text-success text-2xl" />
        </el-badge>
      </div>
      <div class="flex items-center">
        <el-dropdown @command="handleCommand">
          <el-avatar
            size="medium"
            icon="el-icon-user-solid"
            class="bg-gray-300"
          ></el-avatar>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item
              command="logout"
              class="font-bold text-theme-1 hover:bg-theme-1-200"
            >
              {{ $t('navbar.logout') }}
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import { rootMutations } from '~/store/mutations'
import { authActions } from '~/store/auth/actions'
export default {
  name: 'Navbar',
  computed: {
    ...mapState({
      locale: (state) => state.locale,
      hasNotifications: (state) => state.hasNotifications,
    }),
  },
  methods: {
    ...mapMutations({
      TOGGLE_SIDEBAR_COLLAPSE: rootMutations.TOGGLE.SIDEBAR_COLLAPSE,
    }),
    handleCommand(command) {
      this[command]()
    },
    logout() {
      this.$router.push(`/${this.$store.getters['auth/roleGroup']}/login`)
      this.$store.dispatch(authActions.LOGOUT)
    },
  },
}
</script>
<style lang="scss">
.navbar {
  .el-badge__content {
    border: none;
    display: flex;
    line-height: 1rem;
    height: 10px !important;
    width: 10px !important;
  }
}
</style>
<style lang="scss" scoped>
.navbar {
  height: 50px;
}
</style>
