@import './components/button';
@import './components/input';
@import './components/loading';
@import './components/menu';
@import './components/table';
@import './theme/fonts';
@import './theme/colors';
@import "~element-ui/packages/theme-chalk/src/index";

.no-caret {
    .el-submenu__icon-arrow {
        display: none !important;
    }
}