<template>
  <el-main class="p-8">
    <Breadcrumb :title="$t('users.create.title')" />
    <FormWrapper
      ref="userAddForm"
      :model="form"
      class="user-add-form"
      @onSubmit="onSubmitUser"
    >
      <el-card shadow="never" style="border-radius: 15px" class="border-none">
        <h2 class="text-lg font-bold text-dark mb-5">
          {{ $t('users.create.user') }}
        </h2>
        <div class="flex flex-wrap">
          <InputWrapper
            rules="email"
            prop="email"
            class="el-default-input mb-3 mr-3"
            style="flex: 1"
          >
            <label class="my-1 inline-block text-dark">
              {{ $t('users.index.email') }}
            </label>
            <el-input
              v-model="form.email"
              :placeholder="$t('users.index.email')"
              type="text"
              autocomplete="off"
              clearable
            />
          </InputWrapper>
          <InputWrapper
            rules="no_special"
            prop="fullName"
            class="el-default-input mb-3"
            style="flex: 1"
          >
            <label class="my-1 inline-block text-dark">
              {{ $t('users.index.fullName') }}
            </label>
            <el-input
              v-model="form.fullName"
              :placeholder="$t('users.index.fullName')"
              type="text"
              autocomplete="off"
              clearable
            />
          </InputWrapper>
          <div class="w-full" />
          <InputWrapper
            rules="required"
            prop="password"
            class="el-default-input mb-3 mr-3"
            style="flex: 1"
          >
            <label class="my-1 inline-block text-dark">
              {{ $t('users.index.password') }}
            </label>
            <el-input
              v-model="form.password"
              :placeholder="$t('users.index.password')"
              type="text"
              autocomplete="off"
              clearable
              show-password
            />
          </InputWrapper>
          <InputWrapper
            rules="tel"
            prop="phoneNumber"
            class="el-default-input mb-3"
            style="flex: 1"
          >
            <label class="my-1 inline-block text-dark">
              {{ $t('users.index.phoneNumber') }}
            </label>
            <el-input
              v-model="form.phoneNumber"
              :placeholder="$t('users.index.phoneNumber')"
              type="text"
              autocomplete="off"
              clearable
            />
          </InputWrapper>
          <div class="w-full" />
          <InputWrapper
            rules="number"
            prop="age"
            class="el-default-input mb-3 mr-3 flex-1"
          >
            <label class="my-1 inline-block text-dark">
              {{ $t('users.index.age') }}
            </label>
            <el-input
              v-model="form.age"
              :placeholder="$t('users.index.age')"
              type="number"
              autocomplete="off"
              clearable
            />
          </InputWrapper>
          <!-- <InputWrapper
            prop="birthday"
            class="el-default-input mb-3 mr-3 flex-1"
          >
            <label class="my-1 inline-block text-dark">
              {{ $t('users.index.birthday') }}
            </label>
            <el-date-picker
              v-model="form.birthday"
              class="w-full"
              type="date"
              format="dd-MM-yyyy"
              value-format="yyyy-MM-dd"
              :placeholder="$t('users.index.birthday')"
              clearable
            />
          </InputWrapper> -->
          <InputWrapper prop="gender" class="el-default-input mb-3 flex-1">
            <label class="my-1 inline-block text-dark">
              {{ $t('users.index.gender') }}
            </label>
            <el-select
              v-model="form.gender"
              class="w-full"
              :placeholder="$t('users.index.gender')"
              clearable
            >
              <el-option :label="$t('users.index.gender-MALE')" :value="true" />
              <el-option
                :label="$t('users.index.gender-FEMALE')"
                :value="false"
              />
            </el-select>
          </InputWrapper>
          <div class="w-full"></div>
          <InputWrapper prop="role" class="el-default-input mb-3 mr-3 flex-1">
            <label class="my-1 inline-block text-dark">
              {{ $t('users.index.role') }}
            </label>
            <el-select
              v-model="form.roleId"
              class="w-full"
              :placeholder="$t('users.index.role')"
              clearable
            >
              <el-option
                v-for="role in roles"
                :key="'role-' + role.id"
                :label="role.name"
                :value="role.id"
              />
            </el-select>
          </InputWrapper>
          <InputWrapper
            prop="university"
            class="el-default-input mb-3 mr-3 flex-1"
          >
            <label class="my-1 inline-block text-dark">
              {{ $t('users.index.university') }}
            </label>
            <el-select
              v-model="form.universityId"
              class="w-full"
              :placeholder="$t('users.index.university')"
              clearable
              filterable
            >
              <el-option
                v-for="university in universities"
                :key="'university-' + university.id"
                :label="university.name"
                :value="university.id"
              />
            </el-select>
          </InputWrapper>
        </div>
        <!--  -->
      </el-card>
      <div class="flex mt-5 justify-end">
        <el-button
          size="small"
          type="success"
          class="bg-gray-300 hover:bg-gray-400 text-gray-600 hover:text-gray-100 font-bold border-none rounded-md outline-none"
          @click="resetUserAddForm"
        >
          {{ $t('users.create.cancel') }}
        </el-button>
        <el-button
          size="small"
          type="success"
          native-type="submit"
          class="bg-theme-1 hover:bg-theme-1-600 text-white font-bold border-none rounded-md outline-none"
        >
          {{ $t('users.create.submit') }}
        </el-button>
      </div>
    </FormWrapper>
    <!--  -->
  </el-main>
</template>
<script>
import { mapActions, mapMutations, mapState } from 'vuex'
import { config } from './config'
import { Breadcrumb } from '~templates/Breadcrumb'
import { FormWrapper, InputWrapper } from '~/components/common/Templates/Form'
import { userActions } from '~/store/user/actions'
import { roleActions } from '~/store/user/role/actions'
import { universityActions } from '~/store/university/actions'
import { universityMutations } from '~/store/university/mutations'
import leaveWarningMixin from '~/mixins/leaveWarning'

export default {
  name: 'Home',
  meta: {
    config,
  },
  middleware: ['auth'],
  components: {
    Breadcrumb,
    FormWrapper,
    InputWrapper,
  },
  mixins: [leaveWarningMixin],
  async fetch() {
    await this.fetchRoles()
    await this.setUniversityQuery({
      fields: 'id,name',
      limit: 1000,
    })
    await this.fetchUniversities()
  },
  data() {
    return {
      form: {
        email: null,
        fullName: null,
        password: null,
        phoneNumber: null,
        gender: true,
        age: null,
        // birthday: null,
        roleId: null,
        universityId: null,
      },
    }
  },
  computed: {
    ...mapState({
      roles: (state) => state.user.role.data,
      universities: (state) => state.university.data,
    }),
  },
  methods: {
    ...mapMutations({
      setUniversityQuery: universityMutations.SET.QUERY,
    }),
    ...mapActions({
      submitSingleUser: userActions.SUBMIT.SINGLE,
      fetchRoles: roleActions.FETCH.DATA,
      fetchUniversities: universityActions.FETCH.DATA,
    }),
    resetUserAddForm() {
      this.$refs.userAddForm.reset()
    },
    async onSubmitUser() {
      try {
        this.form.age = +this.form.age // Convert to number
        await this.submitSingleUser(this.form)
        this.$message.success(this.$t('success.create'))
        this.$router.push(`/${this.$store.getters['auth/roleGroup']}/users`)
        this.resetUserAddForm()
      } catch (err) {
        // console.error(err)
      }
    },
  },
  head() {
    return {
      title: this.$t('users.create.title'),
    }
  },
}
</script>
<style lang="scss">
.user-add-form {
  .el-default-input {
    .el-input__inner {
      background: var(--color-gray-100);
    }
  }
}
</style>
