<template>
  <div>
    <FormWrapper
      ref="userAddForm"
      :model="form"
      class="flex flex-wrap user-add-form"
    >
      <InputWrapper
        rules="alpha|length:255"
        prop="fullName"
        class="el-default-input mb-3 mr-3"
        style="width: 200px"
      >
        <el-input
          v-model="form.fullName"
          :placeholder="$t('users.index.fullName')"
          type="text"
          autocomplete="off"
          clearable
        />
      </InputWrapper>
      <InputWrapper
        rules="tel"
        prop="phoneNumber"
        class="el-default-input mb-3 mr-3"
        style="width: 200px"
      >
        <el-input
          v-model="form.phoneNumber"
          :placeholder="$t('users.index.phoneNumber')"
          type="text"
          autocomplete="off"
          clearable
        />
      </InputWrapper>
      <InputWrapper
        rules="date"
        prop="birthday"
        class="el-default-input mb-3 mr-3"
        style="width: 200px"
      >
        <el-date-picker
          v-model="form.birthday"
          type="date"
          :placeholder="$t('users.index.birthday')"
          clearable
        />
      </InputWrapper>
      <InputWrapper
        prop="gender"
        class="el-default-input mb-3 mr-3"
        style="width: 200px"
      >
        <el-select
          v-model="form.gender"
          :placeholder="$t('users.index.gender')"
          clearable
        >
          <el-option :label="$t('users.index.gender-MALE')" value="MALE" />
          <el-option :label="$t('users.index.gender-FEMALE')" value="FEMALE" />
          <el-option :label="$t('users.index.gender-OTHER')" value="OTHER" />
        </el-select>
      </InputWrapper>
      <InputWrapper
        rules="number"
        prop="identityCard"
        class="el-default-input mb-3 mr-3"
        style="width: 200px"
      >
        <el-input
          v-model="form.identityCard"
          :placeholder="$t('users.index.identityCard')"
          type="text"
          autocomplete="off"
          clearable
        />
      </InputWrapper>
      <InputWrapper
        prop="address"
        class="el-default-input mb-3 mr-3"
        style="width: 200px"
      >
        <el-input
          v-model="form.address"
          :placeholder="$t('users.index.address')"
          type="text"
          autocomplete="off"
          clearable
        />
      </InputWrapper>
    </FormWrapper>
  </div>
</template>
<script>
import { FormWrapper, InputWrapper } from '~/components/common/Templates/Form'

export default {
  components: {
    FormWrapper,
    InputWrapper,
  },
  data() {
    return {
      form: {
        fullName: null,
        phoneNumber: null,
        gender: null,
        birthday: null,
        address: null,
        identityCard: null,
      },
    }
  },
  watch: {
    form: {
      deep: true,
      handler() {
        this.$emit('my-user-add-form-change', this.form)
      },
    },
  },
}
</script>
<style lang="scss">
.user-add-form {
  .el-default-input {
    .el-input__inner {
      background: var(--color-gray-100);
    }
  }
}
</style>
