<template>
  <el-main class="container mx-auto">
    <Login ref="loginForm" @my-login-form-submit="postLogin" />
  </el-main>
</template>

<script>
import { config } from './config'
/**
 * Using mixin to avoid duplicated code
 */
import loginMixin from '~/mixins/auth/login'
export default {
  meta: {
    config,
  },
  mixins: [loginMixin],
}
</script>
