<template>
  <div style="min-height: 90px">
    <FormWrapper
      ref="userFilterForm"
      :model="form"
      class="flex my-10 flex-wrap"
    >
      <InputWrapper
        rules="no_special|length:255"
        prop="fullName"
        class="el-default-input mb-3 mr-3"
        style="width: 200px"
      >
        <el-input
          v-model="form.fullName"
          :placeholder="$t('users.index.fullName')"
          type="text"
          autocomplete="off"
          clearable
        />
      </InputWrapper>
      <InputWrapper
        prop="email"
        class="el-default-input mb-3 mr-3"
        style="width: 200px"
      >
        <el-input
          v-model="form.email"
          :placeholder="$t('users.index.email')"
          type="text"
          autocomplete="off"
          clearable
        />
      </InputWrapper>
      <div class="flex">
        <span
          style="height: 40px"
          class="btn bg-theme-1 hover:bg-theme-1-600 text-white"
          @click="handleFilter"
        >
          <fa :icon="['fas', 'filter']" class="mr-2" />
          <span>
            {{ $t('users.filter') }}
          </span>
        </span>
        <span
          style="height: 40px"
          class="btn bg-gray-300 hover:bg-gray-400 text-gray-600 hover:text-gray-100 text-center"
          @click="resetFilter"
        >
          <fa :icon="['fas', 'times']" class="mr-2" />
          <span style="min-width: 45px">
            {{ $t('users.reset-filter') }}
          </span>
        </span>
      </div>
    </FormWrapper>
  </div>
</template>
<script>
import { FormWrapper, InputWrapper } from '~/components/common/Templates/Form'
export default {
  components: {
    FormWrapper,
    InputWrapper,
  },
  data() {
    return {
      form: {
        fullName: null,
        email: null,
      },
      filterMap: {
        fullName: '$contL',
        email: '$contL',
      },
      filter: null,
    }
  },
  watch: {
    form: {
      deep: true,
      handler() {
        const result = []
        Object.keys(this?.form).forEach((key) => {
          if (this.form[key]) {
            // Example: ['fullName||$contL||something']
            result.push(`${key}||${this.filterMap[key]}||${this.form[key]}`)
          }
        })
        this.filter = result.length < 1 ? null : result
      },
    },
  },
  methods: {
    handleFilter() {
      this.$emit('my-user-filter', this.filter)
    },
    resetFilter() {
      this.$refs.userFilterForm.reset()
      this.filter = null
      this.$emit('my-user-filter-refresh')
    },
  },
}
</script>
